{{page-title "Rock & Roll with Octane"}}

<ul>
    <!-- Ratings based on what a normal person would rate them -->
    {{#each
        (array
            (hash title="Ultra Violent Light Cannon" band="Newgrounds Death Rugby" rating=2)
            (hash title="pretty girl snuff film" band="Bird Fear Death" rating=1)
            (hash title="lost cause// (with grandson)" band="Kennyhoopla" rating=4)
        ) as |song|
    }}
        <li>
            {{song.title}} by {{song.band}} - {{song.rating}}
        </li>
    {{/each}}
</ul>