{{page-title "Songs"}}
<ul>
    {{!-- Ratings based on what a normal person would rate them --}}
    {{#each
        (array
            (hash title="Ultra Violent Light Cannon" band="Newgrounds Death Rugby" rating=2)
            (hash title="Thos Moser" band="food house" rating=1)
            (hash title="DESKTOP!!" band="CORNER STORE KINGDOM" rating=4)
        ) as |song|
    }}
        <li class="leading-loose">
            {{song.title}} by {{song.band}} <span class="float-right">{{song.rating}}</span>
        </li>
    {{/each}}
</ul>